{% extends 'base/main.html' %}
{% load static %}
{% block content %}
    <!-- Username - {{ user.username }} <br>
    first_name - {{ user.first_name }} <br>
    last_name - {{ user.last_name }} <br>
    password - {{ user.password }} <br>
    email - {{ user.email}} <br>
    date_joined - {{ user.date_joined }} <br>
    name_channel - {{ user.name_channel }} <br>
    channel_description - {{ user.channel_description }} <br>
    avatar - <p><img class="img-article-left" src="/media/{{user.avatar}}"></p> <br>
    subscribers - {{ user.subscribers }} <br> -->

    <div class="flex">
        <img class="channel-avatar" src="/media/{{about_channel.avatar}}">
        <div>
            <h1 class="channel-name">{{ about_channel.name_channel }}</h1>
            <p class="subscribers">{{about_channel.number_of_subscribers}} subscribers</p>
        </div>
         
        {% if user.is_authenticated %}
            {% if request.user.id != about_channel.id %}
                {% if request.user in about_channel.subscribers.all %}
                    <a href="{% url 'follow' about_channel.id %}" class="follow">отписаться</a>
                {% else %}
                    <a href="{% url 'follow' about_channel.id %}" class="follow">Подписаться</a>
                {% endif %}
            {% endif %}
        {% endif %}
        
    </div>

    <div class="channel-nav">
        <a href="{% url 'videos' about_channel.id %}">Видео</a>
        <a class="active" href="{% url 'about_channel' about_channel.id %}">О канале</a>
        <a href="{% url 'profile' about_channel.id %}">Профиль</a>
        {% if request.user.id == about_channel.id %}
            <a href="{% url 'add_video' %}">Добавить видео</a>
        {% endif %}
    </div>

    <div class="description">
        <p class="desc-form">{{user.channel_description|linebreaksbr}}</p>
        <div class="desc-flex"><img src="/media/images/subscribers.png" alt="">{{about_channel.number_of_subscribers}} subscribers</div>
        <div class="desc-flex"><img src="/media/images/calendar.png" alt="">{{ about_channel.date_joined }}</div>
        {% if request.user.id == about_channel.id %}

            <a href="{% url 'about_channel_edit' about_channel.id %}" class="desc-flex"><img src="/media/images/editing.png" alt=""> Edit description</a>
        {% endif %}
    </div>    
{% endblock content %}